src/main/resources/xsd/Component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://xml.insee.fr/schema/applis/lunatic"
	targetNamespace="http://xml.insee.fr/schema/applis/lunatic"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	
	<xs:element name="component">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="label"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="type"/>
			<xs:attribute type="xs:ID" name="id"/>
			<xs:attribute type="xs:string" name="response"/>
			</xs:complexType>
	</xs:element>
</xs:schema>
