src/main/resources/xsd/LunaticModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://xml.insee.fr/schema/applis/lunatic-h" 
    targetNamespace="http://xml.insee.fr/schema/applis/lunatic-h" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    
    <xs:element name="Questionnaire">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="SequenceType">
                    <xs:attribute name="final" type="xs:boolean"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="Options">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="label" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="VariableType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="responseRef" type="xs:string" minOccurs="0"/>
            <xs:element name="value" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="expression" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="variableType" type="VariableTypeEnum"/>
    </xs:complexType>
    
    <xs:complexType name="SequenceType">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="components" type="ComponentType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="variables" type="VariableType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Sequence">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="components" type="ComponentType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Subsequence">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="components" type="ComponentType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ComponentType" abstract="true">
        <xs:sequence>
            <xs:element name="label" type="xs:string"/>
            <xs:element name="declarations" type="DeclarationType" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Warning : To validate the name -->
            <xs:element name="conditionFilter" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="componentType" type="ComponentTypeEnum"/>
        <xs:attribute name="mandatory" type="xs:boolean"/>
    </xs:complexType>
    
    <xs:simpleType name="ComponentTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Sequence"/>
            <xs:enumeration value="Subsequence"/>
            <xs:enumeration value="Table"/>
            <xs:enumeration value="Input"/>
            <xs:enumeration value="InputNumber"/>
            <xs:enumeration value="Datepicker"/>
            <xs:enumeration value="CheckboxGroup"/>
            <xs:enumeration value="CheckboxOne"/>
            <xs:enumeration value="CheckboxBoolean"/>
            <xs:enumeration value="Radio"/>
            <xs:enumeration value="Dropdown"/>
            <xs:enumeration value="Textarea"/>
            <xs:enumeration value="FilterDescription"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ReponseContainerInterface" abstract="true"/>
    
    <xs:complexType name="ResponseContainerString">
        <xs:complexContent>
            <xs:extension base="ReponseContainerInterface">
                <xs:sequence>
                    <xs:element name="valueState" type="ResponseTypeString" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ResponseContainerInt">
        <xs:complexContent>
            <xs:extension base="ReponseContainerInterface">
                <xs:sequence>
                    <xs:element name="valueState" type="ResponseTypeInt" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ResponseContainerBoolean">
        <xs:complexContent>
            <xs:extension base="ReponseContainerInterface">
                <xs:sequence>
                    <xs:element name="valueState" type="ResponseTypeBoolean" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ResponseTypeBoolean">
        <xs:sequence>
            <xs:element name="value" type="xs:boolean" nillable="true"/>
            <xs:element name="responseComment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="valueType" type="ResponseTypeEnum"/>
    </xs:complexType>
    
    <xs:complexType name="ResponseTypeInt">
        <xs:sequence>
            <xs:element name="value" type="xs:integer" nillable="true"/>
            <xs:element name="responseComment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="valueType" type="ResponseTypeEnum"/>
    </xs:complexType>
    
    <xs:complexType name="ResponseTypeString">
        <xs:sequence>
            <xs:element name="value" type="xs:string" nillable="true"/>
            <xs:element name="responseComment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="valueType" type="ResponseTypeEnum"/>
    </xs:complexType>
    
    <xs:simpleType name="ResponseTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="PREVIOUS"/>
            <xs:enumeration value="COLLECTED"/>
            <!-- FORCED: automatic correction -->
            <xs:enumeration value="FORCED"/>
            <!-- EDITED: value edited by an expert -->
            <xs:enumeration value="EDITED"/>
            <xs:enumeration value="INPUTED"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="VariableTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="EXTERNAL"/>
            <xs:enumeration value="COLLECTED"/>
            <xs:enumeration value="CALCULATED"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="Textarea">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="response" type="ResponseContainerString"/>
                </xs:sequence>
                <xs:attribute name="maxLength" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Input">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="response" type="ResponseContainerString"/>
                </xs:sequence>
                <xs:attribute name="maxLength" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="InputNumber">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="response" type="ResponseContainerString"/>
                    <xs:element name="unit" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="min" type="xs:double" use="optional"/>
                <xs:attribute name="max" type="xs:double" use="optional"/>
                <xs:attribute name="decimals" type="xs:integer" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Datepicker">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="response" type="ResponseContainerString"/>
                    <xs:element name="dateFormat" type="xs:string" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CheckboxBoolean">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="response" type="ResponseContainerBoolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CheckboxOne">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="response" type="ResponseContainerString"/>
                    <xs:element name="options" type="Options" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Radio">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="response" type="ResponseContainerString"/>
                    <xs:element name="options" type="Options" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Dropdown">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="response" type="ResponseContainerString"/>
                    <xs:element name="options" type="Options" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CheckboxGroup">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="responses" type="ResponsesCheckboxGroup" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="FilterDescription">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:attribute name="management" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Table">
        <xs:complexContent>
            <xs:extension base="ComponentType">
                <xs:sequence>
                    <xs:element name="cells" type="CellsLines" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="lines" type="LinesRoaster" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="positioning" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CellsLines">
        <xs:sequence>
            <xs:element name="cells" type="CellsType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="CellsType">
        <xs:sequence>
            <xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dateFormat" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="unit" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="response" type="ReponseContainerInterface"/>
            <xs:element name="options" type="Options" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="componentType" type="xs:string" use="optional"/>
        <xs:attribute name="maxLength" type="xs:integer" use="optional"/>
        <xs:attribute name="min" type="xs:double" use="optional"/>
        <xs:attribute name="max" type="xs:double" use="optional"/>
        <xs:attribute name="decimals" type="xs:integer" use="optional"/>
        <xs:attribute name="headerCell" type="xs:boolean" use="optional"/>
        <xs:attribute name="colspan" type="xs:integer" use="optional"/>
        <xs:attribute name="rowspan" type="xs:integer" use="optional"/>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="LinesRoaster">
        <xs:attribute name="min" type="xs:integer" use="required"/>
        <xs:attribute name="max" type="xs:integer" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="ResponsesCheckboxGroup">
        <xs:sequence>
            <xs:element name="label" type="xs:string"/>
            <xs:element name="response" type="ResponseContainerBoolean"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="DeclarationType">
        <xs:sequence>
            <xs:element name="label" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="declarationType" type="DeclarationTypeEnum"/>
        <xs:attribute name="position" type="DeclarationPositionEnum"/>
    </xs:complexType>
    
    <xs:simpleType name="DeclarationTypeEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="INSTRUCTION"/>
            <xs:enumeration value="COMMENT"/>
            <xs:enumeration value="HELP"/>
            <xs:enumeration value="WARNING"/>
            <xs:enumeration value="STATEMENT"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="DeclarationPositionEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="AFTER_QUESTION_TEXT"/>
            <xs:enumeration value="AFTER_RESPONSE"/>
            <xs:enumeration value="BEFORE_QUESTION_TEXT"/>
            <xs:enumeration value="DETACHABLE"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ControlType">
        <xs:sequence>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Expression" type="ExpressionType"/>
            <xs:element name="FailMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="criticity" type="ControlCriticityEnum"/>
    </xs:complexType>
    
    <xs:complexType name="ExpressionType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="ControlCriticityEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="INFO"/>
            <xs:enumeration value="WARN"/>
            <xs:enumeration value="ERROR"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
